.order-detail-modal {
    width: 60rem;
    height: fit-content;
    background-color: white;
    border-radius: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 12;
    padding: 1rem 2rem;

    h3 {
        text-align: center;
        font-size: 1.7rem;
        margin: .8rem 0;
    }

    .opendate {
        font-style: italic;
    }

    .checks {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .container {
        min-height: 10rem;
        scrollbar-width: 10rem;
        padding: 0 3rem;
        position: relative;

        .transaction-details-title {
            display: grid;
            grid-template-columns: 10rem auto 10rem;
            gap: 2rem;
            

            .title {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .transaction-details-title-more-details {
            display: grid;
            grid-template-columns: 7rem 7rem 10rem 10rem 7rem 9rem 10rem 7rem;
            overflow-x: hidden;
            // background-color: red;
            gap: 2rem;

            .title {
                font-size: 1.2rem;
                font-weight: bold;
            }


            .title-right {
                font-size: 1.2rem;
                font-weight: bold;
                text-align: right;
            }
        }

        .prodnum {
            position: relative;
            right: .8rem;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .transaction-details-container {
            height: 10rem;
            display: grid;
            width: 100%;
            overflow-y: auto;

            .skeleton-transaction-item {
                height: 1.5rem;
                border-radius: 2rem;
                margin: 0;
            }

            .skeleton {
                animation: skeleton-loading 1s linear infinite alternate;
            }
        
            @keyframes skeleton-loading {
                0% {
                    background-color: hsl(200, 20%, 70%);
                }
        
                100% {
                    background-color: hsl(200, 20%, 95%);
                }
        
            }

            .transaction-details-items {
                display: grid;
                grid-template-columns: 10rem auto 10rem;
                height: fit-content;
                gap: 2rem;

                p {
                    margin-top: 0;
                    margin-bottom: .5rem;
                }
            }

            .transaction-details-items-more-details {
                display: grid;
                grid-template-columns: 7rem 7rem 10rem 10rem 7rem 9rem 10rem 7rem;
                height: fit-content;

                gap: 2rem;

                p {
                    margin-top: 0;
                    margin-bottom: .5rem;
                }
            }

            .delete-item {
                color: red;
            }
        }

        footer {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 3rem;

            .payment-method {
                h4 {
                    font-size: 1.2rem;
                    display: inline-block;
                    margin-bottom: 0;
                }

                .container {
                    max-height: 2rem;
                    overflow-y: auto;

                    .details {
                        font-size: 1.2rem;
                        color: rgb(7, 109, 7);
                        font-weight: bold;
                    }
                }
            }

            .prices {
                text-align: right;

                hr {
                    margin: auto 0 auto auto;
                    width: 30%;
                    right: 0;
                    // top: .5rem;
                    color: #27415a;
                }



                .total {

                    h4 {
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }

                h4 {
                    display: inline-block;
                    // width: 8rem;
                    margin: .2rem;
                    text-align: right;
                }

                p {
                    display: inline-block;
                    min-width: 6rem;
                    max-width: auto;
                    text-align: right;
                    margin: 0;
                    margin-left: 1rem;
                }
            }
        }
    }

    .buttons {
        .icon {
            color: #27415a;
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            padding: .3rem;
            border-radius: 50%;
            font-size: .9rem;
        }

        .icon:hover {
            background-color: #27415a;
            color: white;
            transition: .2s;
        }

        .left {
            position: absolute;
            left: -7rem;
            top: 40%;
            height: 2rem;
            width: 2rem;
        }

        .right {
            position: absolute;
            right: -7rem;
            top: 40%;
            height: 2rem;
            width: 2rem;
        }
    }
}