$text-color: #27415a;
$btn-login: #ff5c6f;
$btn-login-hover: #EF233C;
$hover-text-color: #EF233C;
$caret-down-color: #27415a;
$border-color: rgb(216, 216, 216);


.navbar-section {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 5rem;
    width: 100vw;
    color: $text-color;
    font-weight: 600;
    background-color: #fff;
    display: grid;
    align-items: center;
    position: fixed;
    z-index: 100;

    .navbar-elements {
        position: relative;
        right: 4rem;
        margin: auto;
        width: auto;
        height: auto;

        .icon-title {
            font-size: 2rem;
            margin-right: 1rem;
            position: relative;
            top: .3rem;
        }

        .brand-title {
            display: inline;
            font-size: 1.3rem;
            margin-right: 1rem;
        }

        .icon-caretdown {
            position: relative;
            left: .2rem;
            font-size: .8rem;
            color: $caret-down-color;
        }

        .line-break {
            display: inline-block;
            border: 1px solid $border-color;
            height: 2rem;
            position: absolute;
            top: .3rem;
        }

        .project-nav {
            position: relative;

            .element-title {
                display: inline;
                font-weight: 600;
            }

            .element-title:hover {
                color: $hover-text-color;
                .icon-caretdown {
                    color: $hover-text-color;
                }
            }

            li:hover {
                color: $hover-text-color;
            }
        }



        ul {
            display: inline;
            text-decoration: none;
            list-style: none;

            li {
                position: relative;
                cursor: pointer;
                margin: 0 1rem;
                display: inline;
            }
        }

        .items {
            padding: 0 0 0 .8rem;

            li:hover {
                color: $hover-text-color;
                transition: .2s;
            }
        }


        .right-items {
            font-size: 1.4rem;
            margin-left: 4rem;

            .icon {
                position: absolute;
                top: .5rem;
            }
        }

    }

    .hover-container {
        // display: inline;
        z-index: 0;
        left: 0rem;
        top: 0;
        width: 5.5rem;
        height: 3rem;
        position: absolute;
        // background-color: red;
    }

    .projects-container {
        // display: inline;
        display: grid;
        grid-template-columns: auto auto;
        position: absolute;
        top: 1.8rem;
        left: 0;
        
        // background-color: red;
        // padding: 3rem 0 0 0;

        .project-elements {
            height: auto;
            border-radius: .4rem;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            z-index: 2;
            position: relative;

            // animation-fill-mode: forwards;
            padding: 1rem 0rem 1rem 0rem;

            ul {
                padding: 0rem;
                width: 10rem;
                text-align: center;

                li {
                    padding: .5rem 1rem;
                    width: 10rem;
                    margin: 0;
                    display: block;
                    border-bottom: 1px solid $border-color;

                }

                li:hover {
                    background-color: #f7f7f7;
                }

                li:last-child {
                    border: none;
                }
            }
        }

        .project-details {
            background-color: white;
            height: 20rem;
            width: 30rem;
            border-radius: .4rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
            z-index: 2;
            cursor: auto;
            padding: 1rem;
            position: absolute;
            left: 12rem;
            .container {
                margin: 1rem;
                text-align: justify;
                .heading {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1.5rem;
                    .main-img {
                        width: 10rem;
                        height: 8rem;
                        border-radius: .5rem;
                    }
    
                    .text {
                        h4 {
                            margin: 0;
                        }
                        p {
                            
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }

    }

    .show-project-animation {
        animation: show-window-container .1s linear;
    }

    .show-projectDetails-animation {
        animation: show-windowDetails-container .1s linear;
    }

    @keyframes show-windowDetails-container {
        0% {
            opacity: 80%;
            top: 2rem;
        }

        100% {
            top: 0rem;
        }
    }

    @keyframes show-window-container {
        0% {
            opacity: 80%;
            top: 4rem;
        }

        100% {
            top: 2rem;
        }
    }

}

.account-section-login-modal {
    width: 32rem;
    height: 25rem;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .4rem;
    margin: auto;
    z-index: 11;

    .nav-modal {
        border-bottom: 1px solid $border-color;

        ul {
            list-style: none;

            li {
                display: inline;
                margin: 0 2rem 0 0;

            }

            li:hover {
                cursor: pointer;
                color: $hover-text-color;
                transition: .2s;
            }
        }

        
    }

}

.account-section-register-modal {
    width: 32rem;
    height: 30rem;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .4rem;
    margin: auto;
    z-index: 11;

    .nav-modal {
        border-bottom: 1px solid $border-color;

        ul {
            list-style: none;

            li {
                display: inline;
                margin: 0 2rem 0 0;

            }

            li:hover {
                cursor: pointer;
                color: $hover-text-color;
                transition: .2s;
            }
        }
    }

    
}

.close-icon {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.selected-tab {
    color: $btn-login
}

.account-container {
    padding: 2rem;
    // background-color: red;

    .input-container {
        margin-bottom: 1.5rem;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        input {
            width: 95%;
            height: 2rem;
            border-radius: .3rem;
            border-style: solid;
            border-color: rgb(230, 230, 230);
            outline: none;
            padding-left: 1rem;
            font-size: .9rem;
        }

        input::placeholder {
            color: $caret-down-color;
        }
    }

    .additional-options {
        display: grid;
        grid-template-columns: auto auto;

        h4 {
            display: inline;
            font-weight: 600;
            cursor: pointer;
        }

        .forgot-password {
            text-align: right;
        }

        .forgot-password:hover {
            color: $hover-text-color;
            transition: .2s;
        }
    }

    .login-btn {
        font-weight: bold;
        color: white;
        background-color: $btn-login;
        border: none;
        border-radius: .5rem;
        padding: .6rem 1rem;
        width: 100%;
        margin-top: 3rem;
        cursor: pointer;
    }

    .login-btn:hover {
        background-color: $btn-login-hover;
        transition: .2s;
    }
}

.showAccountContainerLogin {
    animation: showAccountContainerLoginAnimation .1s linear;
    // animation-fill-mode: forwards; 
}

.showAccountContainerRegister {
    animation: showAccountContainerRegisterAnimation .1s linear;
    // animation-fill-mode: forwards; 
}

.background {
    background-color: black;
    opacity: 30%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


@keyframes showAccountContainerLoginAnimation {
    0% {
        opacity: 0;
        position: relative;
        top: 1rem;
    }

    100% {
        position: relative;
        top: 0rem;
        opacity: 1;
    }
}

@keyframes showAccountContainerRegisterAnimation {
    0% {
        opacity: 0;
        position: relative;
        top: 1rem;
    }

    100% {
        position: relative;
        top: 0rem;
        opacity: 1;
    }
}