.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.2s linear;
    animation: fade-in-bottom 0.2s linear;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        position: relative;
        top: 3rem;
        opacity: 0;
    }

    90% {
        position: relative;
        top: 0rem; 
        opacity: 1;
    }

    100% {
        position: none;
    }
}

@keyframes fade-in-bottom {
    0% {
        position: relative;
        top: 3rem; 
        opacity: 0;
    }

    90% {
        position: relative;
        top: 0rem; 
        opacity: 1;
    }

    100% {
        position: none;
    }
}